<app-hero></app-hero>

<section id="books" class="mt-3">
  <div class="container">
    <div *ngIf="books.length" class="row">
      <div class="col-md-6" *ngFor="let book of books">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{book.portada}}" alt="{{book.titulo}}">
              </p>
              <h4>
                <a routerLink="/book/{{book.id}}" class="card-title">{{book.titulo}}</a>
              </h4>
              <p class="card-text">
                {{book.descripcion}}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info mr-1">
                  {{book.precio}} {{book.moneda}}
                </p>
                <p class="badge badge-info">
                  {{book.idioma}}
                </p>
              </div>
              <a href="{{book.link_amazon}}" class="btn btn-block btn-success" target="_blank">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!books.length" class="row">
      <div class="card text-white bg-danger mb-3 w-100 text-center">
        <div class="card-body p-3">
          <h4 class="card-title mb-0">There aren't books in the store currently</h4>
        </div>
      </div>
    </div>
  </div>
</section>
