<section id="profile" class="container">
  <div class="row">
    <div class="col-md-6 main-section text-center card" style="margin: 0 auto;">
      <div class="row user-details p-4">
        <div class="col-12">
          <img src="{{user.photoUrl}}" class="rounded-circle mb-4" alt="profile">
          <h4 *ngIf="providerId != 'password'">{{user.name}}</h4>
          <p>
            {{user.email}}
          </p>

          <hr class="bg-primary">
          <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores suscipit itaque minima quae.</span>
        </div>
      </div>
    </div>
  </div>
</section>
